<!DOCTYPE html>
<html ng-app="InvertedIndex" ng-controller="InvertedIndexController as indexer">

<head>
  <title>Inverted Index</title>
  <link type="text/css" rel="stylesheet" href="src/css/materialize.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="src/css/main.css" media="screen,projection" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <nav>
    <div class="nav-wrapper grey-text text-lighten-4">
      {{ indexer.title }}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="grey-text text-lighten-4">--->A checkpoint 1 Project</li>
      </ul>
    </div>
  </nav>
  <p>
    <fieldset>
      <div class="row">
        <div class="col s12 m5">
          <div class="">
            <span>Inverted Index web application gets the indexes of an array of words
             in a JSON file and allows a user to search for each word or array of words in a file or multiple files.
          </span>
          </div>
        </div>
      </div>
    </fieldset>
    <p>
      <div class="container">
        <form action="#">
          <span>STEP 1: Upload one or more Json Files</span>
          <p>
            <div class="file-field">
              <div class="btn" ng-click="indexer.uploadFile()">
                <span class="file-upload grey-text text-lighten-4">File</span>
                <input type="file" multiple ng-click="indexer.uploadFile()">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
              </div>
            </div>
            <p>
              <div class="drop-down">
                <select ng-model="searchFile">
                  <option value="">-- All --</option>
                  <option ng-model="searchFile" value="{{fileName}}" ng-repeat="(fileName, content) in indexedFiles">{{fileName}}</option>
                </select>
              </div>
              <p>
                <div>
                  <p>
                    <span>STEP 2: Create Index for Selected File(s)</span>
                    <p>
                      <a class="waves-effect waves-light btn grey-text text-lighten-4">Create Index</a>
                </div>
                <p>
                  <span>STEP 3: Search for word(s) or term(s)</span>
                  <nav>
                    <div class="nav-wrapper">
                      <form>
                        <div class="input-field">
                          <input id="search" type="search" required ng-click="indexer.search()">
                          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                          <i class="material-icons">close</i>
                        </div>
                      </form>
                    </div>
                  </nav>
                  <p>
      </div>
      <br>
      <table class="table table-bordered">
        <thead class="thead-inverse">
          <tr>
            <th>words</th>
            <th ng-repeat="number in [] | range:indexer.index.count"> doc_{{ number }}</th>
          </tr>
        </thead>
        <tr ng-repeat="(key, values) in indexer.index.terms track by $index">
          <td> {{ key }}</td>
          <td ng-repeat="number in [] | range:indexer.index.count">
            <span ng-if="values.includes(number)"> <i class="fa fa-check" aria-hidden="true"></i></span>
          </td>
        </tr>
      </table>
      </div>
      </form>
      <script src="lib/angular/angular.js"></script>
      <script src="src/js/app.js"></script>
      <script src="src/js/inverted-index.js"></script>
      <script src="src/js/app.controller.js"></script>
      <script src="src/js/fileupload.directive.js"></script>
</body>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"></h5>
        <p class="grey-text text-lighten-4">Inverted Index</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    © 2017 Awofadeju Olayemi
    <a class="grey-text text-lighten-4 right" href="#!">Andela property</a>
  </div>
</footer>

</html>
