<!DOCTYPE html>
<html ng-app="InvertedIndex" class="ng-scope" l ang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Inverted Index</title>
  <link type="text/css" rel="stylesheet" href="src/css/bootstrap.css" media="screen,projection" />
  <!--<link type="text/css" rel="stylesheet" href="src/css/bootstrap-theme.css" media="screen,projection" />-->
  <link type="text/css" rel="stylesheet" href="src/css/main.css" media="screen,projection" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>

<body ng-controller="InvertedIndexController as indexer" class="ng-scope">
  <div class="nav">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" ng-binding>{{ indexer.title }}</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="main-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Inverted Index web application gets the indexes of an array of words in a JSON file and allows a user to search for each word or array of words in a file or multiple files.</p>
        </div>
        <div class="col-md-6">
          <input type="file" file-upload class="form-control" multiple>
          <h5 class="text-danger" ng-if="errorFileUploadMessage">You need to upload a '<b>valid JSON</b>' file</h5>
          <div class="uploaded-files">
            <select id="select-file" class="form-control" ng-model="selectedFile" name="files browser-default input-field">
              <option value="allFiles" selected="">Choose all files</option>
              <option ng-repeat="fileName in fileNames" value="{{fileName}}">{{ fileName }}</option>
            </select>
            <button class="btn" ng-click="indexer.create()">Create Index</button>
          </div>
        </div>
      </div>
    </div>
    <h5 class="text-danger" ng-show="errorSearchMessage">Oops! seems you need to click on the '<b>Create Index</b>' button</h5>
    <div class="search">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="input-group">
              <input type="search" class="form-control ng-touched ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required" required ng-model="indexer.query" ng-change="indexer.search(indexer.query)" placeholder="Enter a word(s) or term(s) to search" aria-describedby="basic-addon2">
              <select id="select-file" class="form-control select" ng-model="selectedFile" name="files browser-default input-field">
                <option value="allFiles" selected="">Choose all files</option>
                <option ng-repeat="fileName in fileNames" value="{{fileName}}">{{ fileName }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead class="thead-inverse">
                <tr>
                  <th>words</th>
                  <th ng-repeat="number in [] | range:indexer.index.count"> doc_{{ number }}</th>
                </tr>
              </thead>
              <tr ng-repeat="(key, values) in indexer.index.terms track by $index">
                <td> {{ key }}</td>
                <td ng-repeat="number in [] | range:indexer.index.count">
                  <span ng-if="values.includes(number)"> <i class="fa fa-check" style="color: green" aria-hidden="true"></i></span>
                  <span ng-if="!values.includes(number)"> <i class="fa fa-close" style="color: red" aria-hidden="true"></i></span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h5 class="white-text"></h5>
            <p class="grey-text text-lighten-4">Inverted Index</p>
          </div>
          <div class="footer-copyright">
            © 2017 Awofadeju Olayemi
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="src/lib/angular/angular.js"></script>
  <script src="src/js/inverted-index.js"></script>
  <script src="src/js/app.controller.js"></script>
  <script src="src/js/fileupload.directive.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>

</html>
