<!DOCTYPE html>
<html ng-app="InvertedIndex">

<head>
  <title>Inverted Index</title>
  <link type="text/css" rel="stylesheet" href="css/bootstrap.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="css/bootstrap-theme.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="css/main.css" media="screen,projection" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>

<body ng-controller="InvertedIndexController as indexer">
  <nav>
    <div class="nav-wrapper grey-text text-lighten-4">
      {{ indexer.title }}
    </div>
  </nav>
  <fieldset>
    <div class="container">
      <div class="row col-sm-4">
        <div class="option-align">
          <p>Inverted Index web application gets the indexes of an array of words in a JSON file and allows a user to search for each word or array of words in a file or multiple files.
          </p>
        </div>
      </div>
      <div class="row col-sm-4">
        <div class="option-align">
          <span>STEP 1: Upload one or more JSON Files</span>
          <div class="btn">
            <input type="file" file-upload multiple>
          </div>
          <div>
            <select id="select-file" ng-model="selectedFile" name="files browser-default input-field">
              <option value="allFiles" selected="">Choose all files</option>
              <option ng-repeat="fileName in fileNames" value="{{fileName}}">{{ fileName }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row col-sm-4">
        <div class="option-align">
          <span>STEP 2: Create Index for Selected File(s)</span>
          <div>
            <button class="btn" ng-click="indexer.create()">Create Index</button>
          </div>
        </div>
      </div>
  </fieldset>
  </div>
  <div class="row col-sm-4">
    <div class="option-align">
      <span>STEP 3: Search for word(s) or term(s)</span>
      <div class="input-field step-a">
        <input id="search" type="search" required ng-model="indexer.query" ng-change="indexer.search(indexer.query)">
        <label class="label-icon search-word" for="search"><i class="material-icons">search</i></label>
      </div>
    </div>
  </div>
  </div>
  <br>
  <table class="table table-bordered">
    <thead class="thead-inverse">
      <tr>
        <th>words</th>
        <th ng-repeat="number in [] | range:indexer.index.count"> doc_{{ number }}</th>
      </tr>
    </thead>
    <tr ng-repeat="(key, values) in indexer.index.terms track by $index">
      <td> {{ key }}</td>
      <td ng-repeat="number in [] | range:indexer.index.count">
        <span ng-if="values.includes(number)"> <i class="fa fa-check" style="color: green" aria-hidden="true"></i></span>
        <span ng-if="!values.includes(number)"> <i class="fa fa-close" style="color: red" aria-hidden="true"></i></span>
      </td>
    </tr>
  </table>
  </div>
  </form>
  <script src="lib/angular/angular.js"></script>
  <script src="js/inverted-index.js"></script>
  <script src="js/app.controller.js"></script>
  <script src="js/fileupload.directive.js"></script>
  </div>
</body>
</div>
<br>
<br>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"></h5>
        <p class="grey-text text-lighten-4">Inverted Index</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    © 2017 Awofadeju Olayemi
</footer>

</html>
